@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Users</h1>

<div class="">
    <table ng-cloak class="table-responsive table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Email Confirmed</th>
                <th>Access Failed Count</th>
                <th>Lockout Enabled</th>
                <th>Phone Number</th>
                <th>Phone Number Confirmed</th>
                <th>User Name</th>
                <th colspan="1">Toggle Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in homeCtrl.users">
                <td>{{user.Id}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.EmailConfirmed}}</td>
                <td>{{user.AccessFailedCount}}</td>
                <td>{{user.LockoutEnabled}}</td>
                <td>{{user.PhoneNumber}}</td>
                <td>{{user.PhoneNumberConfirmed}}</td>
                <td>{{user.UserName}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editQuestion" ng-click="">Admin</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h1 class="text-center">Configurations</h1>

<div class="">
    <table ng-cloak class="table-responsive table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Category</th>
                <th>Description</th>
                <th>Data Type</th>
                <th>Created</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="config in homeCtrl.configs">
                <td>{{config.Id}}</td>
                <td>{{config.ConfigName}}</td>
                <td>{{config.ConfigValue}}</td>
                <td>{{config.Category}}</td>
                <td>{{config.Description}}</td>
                <td>{{config.DataType}}</td>
                <td>{{config.DateCreated}}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" ng-click="">Delete</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>

